# Python AI libraries
# NOTES
# - Re-lock NumPy and matplotlib to their intended versions.
albumentations
gradio
keras
matplotlib==3.6.3
numpy<2
onnx
onnxruntime
onnxruntime-gpu
onnxsim
onnxslim
pycocotools
supervision
tensorflow
tensorrt
ultralytics
