# Scientific and AI libraries not included here are supposed to be
# included in the base l4t-ml image.

# Python basic tools and dependencies:
# - Testers
# - YAML, TOML parsers
# - Package managers
# - Code formatters
# - Code coverage testers
# - Code linters
# - Template engines
# - transitions library for FSM software
# NOTES
# - empy==3.3.4 is required since colcon is not compatible with newer versions.
# - matplotlib==3.5.0 is required for further compatibility issues.
bloom
catkin-pkg
catkin-pkg-modules
colcon-argcomplete
colcon-bash
colcon-cd
colcon-cmake
colcon-common-extensions
colcon-core
colcon-defaults
colcon-devtools
colcon-library-path
colcon-metadata
colcon-mixin
colcon-notification
colcon-output
colcon-package-information
colcon-package-selection
colcon-parallel-executor
colcon-pkg
colcon-powershell
colcon-python-setup-py
colcon-recursive-crawl
colcon-ros
colcon-test-result
colcon-zsh
cerberus
coverage
distlib
distro
docutils
empy==3.3.4
flake8
flake8-blind-except
flake8-builtins
flake8-class-newline
flake8-comprehensions
flake8-deprecated
flake8-docstrings
flake8-import-order
flake8-quotes
flask
matplotlib==3.5.0
mypy
notify2
nunavut
packaging
pkgconfig
py-cpuinfo
pybind11-global
pyserial
pyros-genmsg
pytest
pytest-cov
pytest-mock
pytest-repeat
pytest-rerunfailures
pytest-runner
pytest-timeout
python-dateutil
pyyaml
requests
roman
rosdep
rosdep-modules
rosdistro
rosdistro-modules
rospkg-modules
setuptools
six
testresources
toml
tqdm
transitions
urllib3==2.0.2
vcstool
wheel

# Python AI libraries
# NOTES
# - ultralytics must be installed manually to avoid dependency conflicts.
gradio
pycocotools
seaborn
supervision
