# Python basic tools and dependencies:
# - Testers
# - YAML, TOML parsers
# - Package managers
# - Code formatters
# - Code coverage testers
# - Code linters
# - Template engines
# - Scientific libraries
# - ROS 2 dependencies
# - transitions library for FSM software
# NOTES
# - EmPy's later versions still appear to be incompatible with Colcon;
#   for now, it is held at the version reported here.
# - Keep NumPy below 2 for now, something still isn't compatible with it.
# - setuptools version is chosen to avoid issues with colcon.
cerberus
colcon-argcomplete
colcon-common-extensions
colcon-mixin
coverage
empy==3.3.4
flake8
flake8-blind-except
flake8-builtins
flake8-class-newline
flake8-comprehensions
flake8-deprecated
flake8-docstrings
flake8-import-order
flake8-quotes
flask
numpy<2
nunavut
packaging
pandas
pkgconfig
pyserial
pyros-genmsg
pytest
pytest-cov
python-dateutil
pytest-repeat
pytest-runner
pytest-rerunfailures
pyyaml
requests
rosdep
scipy
setuptools==75.8.2
six
testresources
toml
tqdm
transitions
vcstool
wheel
